.reviewsSection {
  width: 430px;
  height: 532px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 24px;
}

/* Scrollbar styles */
.reviewsSection::-webkit-scrollbar {
  width: 4px;
}

.reviewsSection::-webkit-scrollbar-track {
  background: none;
}

.reviewsSection::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
}

.reviewWrapper {
  margin-bottom: 24px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: var(--red-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  background-color: var(--background-gray-color);
  border-radius: 50%;
}

.name {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 4px;
}