

.stringValue {
  text-transform: capitalize;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: fit-content;
    padding: 12px 18px;
    border: none;
    border-radius: 100px;
    background-color: var(--light-gray-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  .image {
    margin-right: 8px;
  }