.info {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.5;
}

.ratingText {
  margin-right: 16px;
  text-decoration-line: underline;
}
