.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 11px;
}
