.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 982px;
  height: 80%;
  padding-bottom: 40px;
  border-radius: 20px;
  background-color: var(--white-color);
}

.headerContentWrapper {
  padding: 40px 40px 0 40px;
  margin-bottom: 24px;
}

.ratingWrapper {
  margin-top: 10px;
  margin-bottom: 16px;
}

.mainContentWrapper {
  width: 966px;
  height: 466px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 24px 40px 40px;
}

/* Scrollbar styles */
.mainContentWrapper::-webkit-scrollbar {
  width: 8px;
}

.mainContentWrapper::-webkit-scrollbar-track {
  background: none;
}

.mainContentWrapper::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 7px;
}

.list {
  width: 902px;
  margin-bottom: 24px;
}

.image {
  display: inline-block;
  width: 290px;
  height: 310px;
  margin-right: 16px;
  object-fit: cover;
  border-radius: 10px;
}

.image:last-child {
  margin-right: 0;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
  margin-bottom: 44px;
}

