.inputWrapper {
  position: relative;
  margin-bottom: 24px;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translate(-50%, -50%);
}

.locationInput {
  width: 100%;
  height: 56px;
  padding: 18px;
  padding-left: 44px;
  border: none;
  border-radius: 10px;
  background: var(--light-color);
  outline: none;
}

.locationInput::placeholder {
  color: var(--border-tile);
  font-size: 16px;
  line-height: 1.25;
}

.locationInput:focus {
  background-color: var(--light-color);
}

.locationInput:not(:focus):valid {
  background-color: var(--light-color);
}
